<body>
    <h1 class="homeh1">Welcome to PawFinder!</h1>

    <a class="homeLogin" href="/login">Login</a>
    <a class="homeSignUp" href="/signUp">Sign Up</a>

    <h2 class="homeh2">Find a pet!</h2>
    <form class="homeForm">
        <label class="homeAnimalType">Animal Type</label>
        <input type="text" ng-model="data.animal"/>

        <label class="homeAnimalBreed">Animal Breed</label>
        <input type="text" ng-model="data.breeds"/>

        <label class="homeZipCode">Zip Code</label>
        <input type="text" ng-model="data.zip"/>

        <button class=homeSubmitBttn ng-click="getPets()">Submit</button>
    </form>
</body>
