<div class="form-container">
    <form>
        <p class="login-p">Login</p>
        <div class="form-elements">
            <div class="username-container">
                <label class="label-username">Username:</label>
                <input class="login-textfield" type="text" ng-model="data.username"/>
            </div>

            <div class="password-container">
                <label class="label-password">Password:</label>
                <input class="login-textfield" type="password" ng-model="data.password"/>
            </div>
                <button class="loginUserBtn" ng-click="submitData()">Submit</button>
        </div>
    </form>
    <a href="/signUp">New user? Click here!</a>
</div>
