<div class="profile-header">
  <img class="logo-image" src="stylesheets/images/paw-logo.jpg">
  <a class="logo" href="/">PawFinder</a>

  <a class="signup" href="/signUp">Sign Up</a>
  <a class="login" href="/login">Login</a>
</div>

<div class="profile-container" ng-repeat="info in profileResults.data track by $index | json">
  <div class="profile-image-container">
    <img class="profile-animal-image" ng-src="{{info.animalPictures[0].urlSecureFullsize || 'stylesheets/images/Paw-Print-2.svg'}}" height="{{animal.animalPictures[0].resolutionY}} || 400" width="{{animal.animalPictures[0].resolutionX}} || 300">
  </div>
  <div class="content-container">
    <div class="profile-header">
      <h1 class="profile-h1">Adopt {{info.animalName}} the {{info.animalSpecies}}!</h1>
    </div>
    <div class="profile-org-container" ng-repeat="info in orgResults.data track by $index | json">
      <div class="box">
        <strong class="title">Location</strong>
        <div class="holder">
          <p>{{info.orgCity}}, {{info.orgState}}</p>
        </div>
        <strong class="title">Animal Org ID:</strong>
        <div class="holder">
          <p ng-repeat="info in profileResults.data track by $index | json">{{info.animalName}}</p>
        </div>
      </div>
      <div class="profile-org-info">
        <strong class="title">Organization:</strong>
        <div class="holder">
          <p class="org-address"><a class="org-link"href="{{info.orgWebsiteUrl}}">{{info.orgName}}</a></p>
          <p class="org-address">{{info.orgAddress}}</p>
          <p class="org-address">{{info.orgCity}}, {{info.orgState}} {{info.orgPostalcode}}</p>
        </div>
      </div>
    </div>
    <div class="profile-description">
      <div class="text-block">
        <div class="block-holder">
          <h2 class="clearfix">
            <span class="description-header">Meet {{info.animalName}}!</span>
          </h2>
          <p class="description-text" ng-bind-html="info.animalDescriptionPlain | trust"></p>
        </div>
      </div>
    </div>
    <div class="tab-panel">
      <table class="animal-table">
        <tbody class="tbody">
          <tr ng-if="info.animalBreed" class="tr">
            <td class="td-animalBreed" colspan="2">{{info.animalBreed}}</td>
          </tr>
          <tr ng-if="info.animalLocationCitystate">
            <td class="field">Location:</td>
            <td class="value">{{info.animalLocationCitystate}}</td>
          </tr>
          <tr ng-if="info.animalSex">
            <td class="field">Gender:</td>
            <td class="value">{{info.animalSex}}</td>
          </tr>
          <tr ng-if="info.animalGenderAge">
            <td class="field">Age range:</td>
            <td class="value">{{info.animalGeneralAge}}</td>
          </tr>
          <tr ng-if="info.animalColor">
            <td class="field">Color:</td>
            <td class="value">{{info.animalColor}}</td>
          </tr>
          <tr ng-if="info.animalSizeCurrent > 0">
            <td class="field">Size:</td>
            <td class="value">{{info.animalSizeCurrent}} lbs</td>
          </tr>
        </tr>
        <tr ng-if="info.animalCoatLength">
          <td class="field">Coat Length:</td>
          <td class="value">{{info.animalCoatLength}}</td>
        </tr>
        <tr ng-if="info.animalSpecialneeds">
          <td class="field">Special Needs:</td>
          <td class="value" ng-if="info.animalSpecialneeds == 'Yes'">Yes</td>
          <td class="value" ng-if="info.animalSpecialneeds == 'No'">No</td>
        </tr>
        <tr ng-if="info.animalOKWithCats || info.animalOKWithDogs || info.animalOKWithKids">
          <td id="profileCompatibility" colspan="2">Compatibility:</td>
        </tr>
        <tr ng-if="info.animalOKWithCats">
          <td class="field" ng-if="info.animalOKWithCats">Ok with Cats?</td>
          <td class="value" ng-if="info.animalOKWithCats == 'Yes'">Yes</td>
          <td class="value" ng-if="info.animalOKWithCats == 'No'">No</td>
        </tr>
        <tr ng-if="info.animalOKWithDogs">
          <td class="field" ng-if="info.animalOKWithDogs">Ok with Dogs?</td>
          <td class="value" ng-if="info.animalOKWithDogs == 'Yes'">Yes</td>
          <td class="value" ng-if="info.animalOKWithDogs == 'No'">No</td>
        </tr>
        <tr ng-if="info.animalOKWithKids">
          <td class="field" ng-if="info.animalOKWithKids">Ok with Kids?</td>
          <td class="value" ng-if="info.animalOKWithKids == 'Yes'">Yes</td>
          <td class="value" ng-if="info.animalOKWithKids == 'No'">No</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

<!-- I'm adding this because heroku isn't working -->
