<div class="header-color">
  <a class="logo" href="/">PawFinder</a>

  <a class="signup" href="/signUp">Sign Up</a>
  <a class="login" href="/login">Login</a>

  <div class="search-searchbar">
    <h2 class="h2">Find Your New Best Friend</h2>
    <div class="form">
      <form class="form" name="searchForm" novalidate ng-submit="searchForm.$valid && getPets()">
        <div class="label-box">
          <label class="label">Animal Type</label>
          <select class="select-species" name="speciesSelect" ng-change="pickBreed(data.species)" ng-model="data.species" required>
            <option value="Dog">Dog</option>
            <option value="Cat">Cat</option>
          </select>
          <p class="searchform-error" ng-show="searchForm.speciesSelect.$error.required && searchForm.$submitted">*Species is required</p>
        </div>
        <div class="label-box">
          <label class="label">Animal Breed</label>
          <select class="select-breed" name="breedSelect" ng-model="data.breed" ng-options="breed.breedName for breed in breeds" required>
              <option value=""></option>
          </select>
          <p class="searchform-error" ng-show="searchForm.breedSelect.$error.required && searchForm.$submitted">*Breed is required</p>
        </div>

        <div class="label-box">
          <label class="label">Zip Code</label>
          <input class="zip-input" name="zipInput" type="text" ng-model="data.zip" required/>
          <p class="searchform-error" ng-show="searchForm.zipInput.$error.required && searchForm.$submitted">*Zip Code is required</p>
        </div>
        <button class="submitbtn">Submit</button>
      </form>
    </div>
  </div>

  <div class="filter">
    <h2 class="filter-h2">Filter</h2>
    <div>
      <form>
        <label class="filter-distance">Distance</label>
          <select class="filter-select" ng-change="updateDistance()" name="distance" ng-model="data.distance">
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="250">250</option>
            <option value="500">500</option>
          </select>
      </form>
    </div>
  </div>
</div>
<div class="result-color">
  <div class="search-results">
    <div class="animal-containers" ng-repeat="animal in searchResults.data track by $index | json">
      <img class="animal-image" ng-src="{{animal.animalPictures[0].urlInsecureFullsize || 'stylesheets/images/Paw-Print-2.svg'}}" height="{{animal.animalPictures[0].resolutionY || 400}}" width="{{animal.animalPictures[0].resolutionX || 300}}">
      <div class="animal-searchInfo">
        <p class="search-animalName">{{animal.animalName}}</p>
        <div class="search-breedAndGender">
          <span>{{animal.animalBreed}}</span>
          <span ng-if="animal.animalSex">|</span>
          <span>{{animal.animalSex}}</span>
        </div>
        <p class="search-animal-cityAndState">{{animal.animalLocationCitystate}}</p>
      </div>
      <button class="profile-Btn" ng-click="goToProfile(animal.animalID, animal.animalOrgID)">Profile</button>
      <div class="search-animalCompatibility" ng-if="animal.animalOKWithCats == 'No'">Not good with Cats</div>
      <div class="search-animalCompatibility" ng-if="animal.animalOKWithDogs == 'No'">Not good with Dogs</div>
      <div class="search-animalCompatibility" ng-if="animal.animalOKWithKids == 'No'">Not good with Kids</div>
      <div class="search-animalSpecialneeds" ng-if="animal.animalSpecialneeds == 'Yes'">Has special needs</div>
    </div>
  </div>
</div>
