<h1 class="logo">PawFinder</h1>

<a class="login" href="/login">Login</a>
<a class="signup" href="/signUp">Sign Up</a>

<div class="searchbar">
    <h2 class="search-h2">Find a pet!</h2>
    <div class="search-form">
        <form class="search-form">
            <label class="search-animaltype">Animal Type</label>
            <select name="speciesSelect" ng-model="data.species">
                <option value="Dog">Dog</option>
                <option value="Cat">Cat</option>
            </select>

            <label class="search-animalbreed">Animal Breed</label>
            <input type="text" ng-model="data.breed"/>

            <label class="search-zipcode">Zip Code</label>
            <input type="text" ng-model="data.zip"/>

            <button class=search-submitbtn ng-click="getPets()">Submit</button>
        </form>
    </div>
</div>
<div class="search-results">
  <div class="animal-containers" ng-repeat="animal in searchResults.data track by $index | json">
    <img class="animal-image" src="{{animal.animalPictures[0].urlInsecureFullsize || 'stylesheets/images/Paw-print-2.svg'}}" height="{{animal.animalPictures[0].resolutionY}} || 400px" width="{{animal.animalPictures[0].resolutionX}} || 300px">
    <div class="animal-searchInfo">
      <p class="search-animalName">{{animal.animalName}}</p>
      <div class="search-breedAndGender">
        <span>{{animal.animalBreed}}</span>
        <span ng-if="animal.animalSex">|</span>
        <span>{{animal.animalSex}}</span>
      </div>
      <p class="search-animal-cityAndState">{{animal.animalLocationCitystate}}</p>
    </div>
    <button class="profile-Btn" ng-click="goToProfile(animal.animalID, animal.animalOrgID)">Profile</button>
    <div class="search-animalCompatibility" ng-if="animal.animalOKWithCats == 'No'">Animal not good with Cats</div>
    <div class="search-animalCompatibility" ng-if="animal.animalOKWithDogs == 'No'">Animal not good with Dogs</div>
    <div class="search-animalCompatibility" ng-if="animal.animalOKWithKids == 'No'">Animal not good with Kids</div>
    <div class="search-animalSpecialneeds" ng-if="animal.animalSpecialneeds == 'Yes'">Animal has special needs</div>
  </div>
</div>
