@font-face {
  font-family: "Charter";
  src: url('fonts/charter/webfonts/charter_regular-webfont.woff') format('woff');
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

body {
  font-family: "Charter", Georgia, Serif;
  margin: 0;
  height: 100%;
  width: 100%;
}

.login, .signup {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: rgb(8, 171, 215);
  height: 50px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-radius: 25px;
  font-size: 20px;
  letter-spacing: .5px;
}

.login {
  margin-left: 1050px;
  margin-right: 10px;
}

.login:active, .signup:active {
  background-color: rgb(10, 106, 148);
  color: rgb(203, 203, 203);
}

.home-searchbar {
  height: 100px;
  width: 1000px;
  margin: 250px auto 0 auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px 0px;
}

.home-form {
  width: 750px;
  margin: auto;
}

.logo {
  display: inline-block;
  padding-left: 10px;
}

.home-h2 {
  text-align: center;
  margin-top: 0;
}

.background-image {
  height: 100vh;
  background-image: url("images/doginwheatfield-EDIT.jpg");
  background-position: center;
  background-size: cover;
}

/*/////////////////////////////////////
//////////SearchPage/////////////////
/////////////////////////////////////*/
/*//TODO:REFACTOR LATER TO REMOVE REDUNDENCES//*/
.searchbar{
  height: 100px;
  width: 1000px;
  margin: 20px auto 0 auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px 0px;
}

/*//TODO:REFACTOR LATER TO REMOVE REDUNDENCES//*/
.search-h2{
  text-align: center;
  margin-top: 0;
}

/*//TODO:REFACTOR LATER TO REMOVE REDUNDENCES//*/
.search-form{
  width: 750px;
  margin: auto;
}

.search-results{
  column-width: 320px;
  column-gap: 15px;
  -webkit-column-width: 320px;
	-webkit-column-gap: 15px;
  -moz-column-width: 320px;
  -moz-column-gap: 15px;
	width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}

.animal-containers{
  width: 300px;
  background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
	display: inline-block;
}

.animal-image{
  width: 100%;
	height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.animal-searchInfo{
  display: inline;
}

.profile-Btn {
  opacity: 0.4;
  border: none;
  height: 70px;
  width: 300px;
  font-size: 30px;
}

.profile-Btn:hover{
  opacity: 0.8;
}

.search-animalName{
  border-bottom: 1px solid #ccc;
  font-size: 30px;
  margin-top: 0;
  padding-bottom: 10px;
}

.search-animalName, .search-breedAndGender, .search-animal-cityAndState{
  text-align: center;
}

.search-breedAndGender{
  font-size: 20px;
}

..search-animal-cityAndState{
  font-size: 17px;
}

.search-animalSpecialneeds, .search-animalCompatibility{
  border: none;
  height: 70px;
  width: 300px;
  line-height: 70px;
  font-size: 20px;
  text-align: center;
  color: white;
}

.search-animalCompatibility{
  background-color: rgb(154, 26, 26);
}

.search-animalSpecialneeds{
  background-color: rgb(198, 179, 53);
}

.filter{
  text-align: center;
}
/*//////////////////////////////
////////////Profile/////////////
//////////////////////////////*/

.profile-animal-image, .animal-profilePic-container{
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 400px;
  display: inline-block;
}

.content-container{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 50%;
  display: inline-block;
}

.profile-header{
  display: block;
}

.profile-h1{
  font-weight: 600;
  color: black;
  font-size: 33px;
  line-height: 39px;
  margin: 2px 0 21px;
  float: left;
  width: 60%;
}

.profile-org-container{
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  background: #fdfdfd;
  padding: 23px 17px 17px 26px;
  overflow: hidden;
  margin: 0 0 27px;
  display: inherit;
  width: 100%;
}

.box{
  width: 34.3333%;
  float: left;
  font-size: 15px;
  line-height: 20px;
  padding: 0 50px 0 0;
}

.title{
  display: block;
  font-size: 20px;
  line-height: 19px;
  color: black;
  padding: 0 0 3px;
  font-weight: 400;
}

.holder{
  padding: 0 0 10px 26px;
}

.profile-org-info{
  width: 34.3333%;
  float: left;
  font-size: 15px;
  line-height: 20px;
  padding: 0 2% 0 0;
}

.org-link{
  text-decoration: none;
}

.org-address{
  margin: 10px;
}

.profile-description{
  float: left;
  font-size: 15px;
  line-height: 22px;
  width: 60%;
}

.block-holder{
  overflow: hidden;
  height: 400px;
}

.clearfix{
  font-size: 23px;
  line-height: 26px;
  margin: 0 0 5px;
  font-weight: 600;
}

.description-header{
  line-height: 45px;
  float: left;
  width: 100%;
}

.description-text{
  font-size: 15px;
  margin: 0 0 5px;
  word-wrap: break-word;
}

.tab-panel{
  float: right;
  width: 37%;
}

.animal-table{
  border-collapse: collapse;
  padding: 0;
  margin: 5px 0 0;
  color: #6a696c;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #eaeaea;
  word-break: break-word;
}

.th-breed{
  color: black;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  text-align: center;
  padding: 8px 5px 10px;
}

.tbody{
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.tr{
  box-sizing: border-box;
  background: #fcfcfc;
}

.field{
  font-weight: 500;
  border-left: none;
  text-align: left;
  padding: 6px 2px 8px 11px;
  width: 50%;
  color: black;
}

.value{
  font-weight: 600;
  width: 50%;
  padding: 6px 10px 8px 11px;
  text-align: right;
  color: black;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
/*.animal-profilePic-container, .profile-containers, .animal-profile-info, .profile-org-container{
  display: inline-block;
}

.animal-profile-info, .profile-org-container{
  width: 300px;
  height: 340px;
  background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
}

.profile-container{
  margin: 20px;
}

.animal-profile-info{
  display: block;

}*/

/*.profile-org-container{
  display: inline-block;
  position: absolute;
  height: 200px;
  width: 700px;
  margin: 0 30px;
}*/

/*//////////////////////////////
////////////Login/////////////
//////////////////////////////*/
.form-container{
  text-align: center;
  margin: 200px auto;
}

.signUp-p{
  width: 300px;
  margin: auto;
  height: 50px;
  border: 1px solid darkgray;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  line-height: 50px;
  font-size: 20px;
}

.form-elements{
  width: 300px;
  margin: auto;
  border: 1px solid darkgray;
  height: 200px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.username-container{
  padding: 40px 0 0;
}

.password-container{
  padding: 20px;
}

.newUserBtn{
  border: 0;
  width: 300px;
  height: 80px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
