@font-face {
  font-family: "Charter";
  src: url('fonts/charter/webfonts/charter_regular-webfont.woff') format('woff');
}

body {
  font-family: "Charter", Georgia, Serif;
  margin: 0;
  height: 100%;
  width: 100%;
}

.login, .signup {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: rgb(8, 171, 215);
  height: 50px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-radius: 25px;
  font-size: 20px;
  letter-spacing: .5px;
}

.login {
  margin-left: 1050px;
  margin-right: 10px;
}

.login:active, .signup:active {
  background-color: rgb(10, 106, 148);
  color: rgb(203, 203, 203);
}

.home-searchbar {
  height: 100px;
  width: 1000px;
  margin: 250px auto 0 auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px 0px;
}

.home-form {
  width: 750px;
  margin: auto;
}

.logo {
  display: inline-block;
}

.home-h2 {
  text-align: center;
  margin-top: 0;
}

.background-image {
  height: 100vh;
  background-image: url("images/doginwheatfield-EDIT.jpg");
  background-position: center;
  background-size: cover;
}

/*/////////////////////////////////////
//////////SearchPage/////////////////
/////////////////////////////////////*/
/*//TODO:REFACTOR LATER TO REMOVE REDUNDENCES//*/
.searchbar{
  height: 100px;
  width: 1000px;
  margin: 20px auto 0 auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px 0px;
}

/*//TODO:REFACTOR LATER TO REMOVE REDUNDENCES//*/
.search-h2{
  text-align: center;
  margin-top: 0;
}

/*//TODO:REFACTOR LATER TO REMOVE REDUNDENCES//*/
.search-form{
  width: 750px;
  margin: auto;
}

.search-results{
  column-width: 320px;
  column-gap: 15px;
  -webkit-column-width: 320px;
	-webkit-column-gap: 15px;
  -moz-column-width: 320px;
  -moz-column-gap: 15px;
	width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}

.animal-containers{
  width: 300px;
  background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
	display: inline-block;
}

.animal-image{
  width: 100%;
	height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.animal-searchInfo{
  display: inline;
}

.profile-Btn {
  opacity: 0.4;
  border: none;
  height: 70px;
  width: 300px;
  font-size: 30px;
}

.profile-Btn:hover{
  opacity: 0.8;
}

.search-animalName{
  border-bottom: 1px solid #ccc;
  font-size: 30px;
  margin-top: 0;
  padding-bottom: 10px;
}

.search-animalName, .search-breedAndGender, .search-animal-cityAndState{
  text-align: center;
}

.search-animalSpecialneeds, .search-animalCompatibility{
  border: none;
  height: 70px;
  width: 300px;
  line-height: 70px;
  font-size: 20px;
  text-align: center;
  color: white;
}

.search-animalCompatibility{
  background-color: rgb(154, 26, 26);
}

.search-animalSpecialneeds{
  background-color: rgb(198, 179, 53);
}

/*//////////////////////////////
////////////Login/////////////
//////////////////////////////*/
.form-container{
  text-align: center;
  margin: 200px auto;
}

.signUp-p{
  width: 300px;
  margin: auto;
  height: 50px;
  border: 1px solid darkgray;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  line-height: 50px;
  font-size: 20px;
}

.form-elements{
  width: 300px;
  margin: auto;
  border: 1px solid darkgray;
  height: 200px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.username-container{
  padding: 40px 0 0;
}

.password-container{
  padding: 20px;
}

.newUserBtn{
  border: 0;
  width: 300px;
  height: 80px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
