@font-face {
  font-family: "Charter";
  src: url('fonts/charter/webfonts/charter_regular-webfont.woff') format('woff');
}

body {
  font-family: "Charter", Georgia, Serif;
  margin: 0;
  height: 100%;
  width: 100%;
}

.home-login, .home-signup {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: rgb(8, 171, 215);
  height: 50px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-radius: 25px;
  font-size: 20px;
  letter-spacing: .5px;
}

.home-login {
  margin-left: 860px;
  margin-right: 10px;
}

.home-login:active, .home-signup:active {
  background-color: rgb(10, 106, 148);
  color: rgb(203, 203, 203);
}

.home-searchbar {
  margin-top: 200px;
  height: 100px;
  width: 1000px;
  margin: 200px auto 0 auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px 0px;
}

.home-form {
  width: 750px;
  margin: auto;
}

.home-h1 {
  display: inline-block;
}

.home-h2 {
  text-align: center;
  margin-top: 0;
}

.background-image {
  height: 100vh;
  background-image: url("images/doginwheatfield-EDIT.jpg");
  background-position: center;
  background-size: cover;
}

/*/////////////////////////////////////
//////////SearchPage/////////////////
/////////////////////////////////////*/

.search-results{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.animal-containers{
  width: 300px;
}

.animal-image{
  width: 100%
}

.animal-searchInfo{
  display: inline;
}
